.banner {
  .nombre {
    position: relative;

    .brand {
      display: block;
      position: absolute;
      top: 25px;
      left: $pad;
      font-weight: 900;
      color: #fff;
      font-size: 1.3rem;
      letter-spacing: 0.1em;

      &:hover {
        color: $color-azul;
      }
    }
  }

  #particles-js {
    width: 100vw;
    height: 100vw;
    background-color: $color-azul-oscuro;
  }

  .solapa {
    position: fixed;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.445);
    z-index: 50;
    transition: left $trans;

    .epigrafe {
      display: block;
      width: calc(100vw - #{$pad-2});
      margin: 75px $pad 0;
      padding-bottom: 10px;
      font-weight: 300;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      border-bottom: 1px solid #fff;
    }

    .filtros {
      padding: $pad $pad 0;
    }

    .button-group {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: $pad;
      padding-bottom: 8px;
      border-bottom: 1px dotted rgba(255, 255, 255, 0.5);

      button {
        margin: 0 7px 7px 0;
        padding: 0.5em 0.5em 0.4em;
        background-color: #fff;
        border: none;
        border-radius: 3px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: 0.7rem;
        font-weight: 700;

        &.todos {
          background-color: #000;
          color: #fff;
        }

        &.active {
          background-color: $color-allo;
          color: #fff;
        }

        &:focus {
          outline: none;
        }
      }

      &:last-child {
        border-bottom: 1px solid #000;
        margin-bottom: 0;
      }
    }

    &.abierto {
      left: 0;
    }

    #menu-principal {
      list-style-type: none;
      padding-left: 0;
      margin-left: $pad;
      margin-top: 0;

      li a {
        display: block;
        width: calc(100vw - 40px);
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 10px;
        font-weight: 300;
        color: #000;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        background-color: #fff;
        border-bottom: 1px solid #000;
      }
    }
  }

  .hamburger {
    position: fixed;
    top: $pad-2;
    right: $pad-2;
    z-index: 100;

    &:focus {
      outline: none;
    }
  }
}
