* {
  box-sizing: border-box;
}

html {
  font-size: 1rem;

  @include tablet-landscape {
    font-size: calc(0.5vw + 0.7rem);
  }
}

body {
  font-family: $ff-base;
  min-height: 2000px;

  .main {
    margin-top: 200px;
  }

  @include tablet-portrait {
    .main {
      margin-top: calc(19 * #{$pad});
    }
  }

  &:not(.home) {
    .main {
      margin-top: 50px;
    }

    .container {
      padding-left: $pad;
      padding-right: $pad;
      margin-left: auto;
      margin-right: auto;
    }

    @include tablet-portrait {
      .main {
        margin-top: calc(10 * #{$pad});
      }

      .container {
        max-width: 700px;
      }
    }

    @include tablet-landscape {
      .container {
        max-width: 800px;
      }
    }

    @include desktop {
      .container {
        max-width: 900px;
      }
    }

    @include big-desktop {
      .container {
        max-width: 1000px;
      }
    }
  }
}

a {
  text-decoration: none;
  color: $color-azul;
  transition: color 0.5s, background-color 0.5s;

  &:active,
  &:focus,
  &:hover {
    color: $gray-light-semi;
    transition: color 0.5s, background-color 0.5s;
  }
}

figure {
  margin-left: 0;
  margin-right: 0;
}
