* {
  box-sizing: border-box;
}

body {
  font-family: $ff-base;
  min-height: 2000px;

  .main {
    margin-top: 200px;
  }

  @include tablet-landscape {
    .main {
      margin-top: 320px;
    }
  }
}

a {
  text-decoration: none;
  color: $color-azul;
  transition: color 0.5s, background-color 0.5s;

  &:active,
  &:focus,
  &:hover {
    color: $gray-light-semi;
    transition: color 0.5s, background-color 0.5s;
  }
}
