/** Colors */
$brand-primary:         #525ddc;

/** Box Model  */
$spacer:                2rem;

// Colors
$color-principal: #002c41;
$color-allo: #f9ae00;
$color-azul: #2e7aa7;
$color-azul-oscuro: #030f3a;
$color-azul-claro: lighten($color-azul, 50%);
$color-rojo: #b31313;
$color-verde: #13b623;
$gray-base: #000;
$gray-darker: lighten($gray-base, 13.5%);
$gray-dark: lighten($gray-base, 20%);
$gray: lighten($gray-base, 33.5%);
$gray-light: lighten($gray-base, 46.7%);
$gray-light-semi: lighten($gray-base, 70%);
$gray-lighter: lighten($gray-base, 93.5%); //layout

$pad: 1rem;
$pad-1: $pad;
$pad-2: calc(#{$pad} * 2);
$pad-3: calc(#{$pad} * 3);
$pad-4: calc(#{$pad} * 4);
$pad-5: calc(#{$pad} * 5);

$ff-serif: serif;
$ff-sans: brandy, sans-serif;
$ff-base: $ff-sans;

$trans: 0.5s;

$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 30px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 6px;
$hamburger-layer-color: #fff;
$hamburger-types: (vortex, arrow);

// responsive breakpoints
@mixin phone-only {
  @media (max-width: 425px) {
    @content;
  }
}

@mixin phone-landscape {
  @media (min-width: 425px) {
    @content;
  }
}

@mixin tablet-portrait {
  @media (min-width: 700px) {
    @content;
  }
}

@mixin tablet-landscape {
  @media (min-width: 1000px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin big-desktop {
  @media (min-width: 1800px) {
    @content;
  }
}

@mixin radius($radius) {
  border-radius: $radius;
}
