@font-face {
  font-family: "brandy";
  src: url("../fonts/brandy-black-webfont.woff2") format("woff2"), url("../fonts/brandy-black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "brandy";
  src: url("../fonts/brandy-blackitalic-webfont.woff2") format("woff2"), url("../fonts/brandy-blackitalic-webfont.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "brandy";
  src: url("../fonts/brandy-bold-webfont.woff2") format("woff2"), url("../fonts/brandy-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "brandy";
  src: url("../fonts/brandy-bolditalic-webfont.woff2") format("woff2"), url("../fonts/brandy-bolditalic-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "brandy";
  src: url("../fonts/brandy-light-webfont.woff2") format("woff2"), url("../fonts/brandy-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "brandy";
  src: url("../fonts/brandy-lightitalic-webfont.woff2") format("woff2"), url("../fonts/brandy-lightitalic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "brandy";
  src: url("../fonts/brandy-medium-webfont.woff2") format("woff2"), url("../fonts/brandy-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "brandy";
  src: url("../fonts/brandy-mediumitalic-webfont.woff2") format("woff2"), url("../fonts/brandy-mediumitalic-webfont.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "brandy";
  src: url("../fonts/brandy-regular-webfont.woff2") format("woff2"), url("../fonts/brandy-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "brandy";
  src: url("../fonts/brandy-regularitalic-webfont.woff2") format("woff2"), url("../fonts/brandy-regularitalic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "brandy";
  src: url("../fonts/brandy-thin-webfont.woff2") format("woff2"), url("../fonts/brandy-thin-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "brandy";
  src: url("../fonts/brandy-thinitalic-webfont.woff2") format("woff2"), url("../fonts/brandy-thinitalic-webfont.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}
